:root{
    --orange:#F99417;
    --white:#F5F5F5;
    --green:green;
    --red:red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
html{
    margin: 0;
    padding: 0;
   
}



 
.table tr{
  display: flex;
  
  
}
.table tr th{
    padding:10px;
    width: 100%;
    background-color:#d5d1defe;
    color:var(--green);
    font-size: normal;
    font-family: serif;
    border-radius: 1px;
   
}
.table tr td{
    padding:10px;
    width: 100%;
}


.table{
    width: 95%; 
    max-height: calc(89% -1.6rem);
    background-color:transparent;
    border: solid white 1.5px;
    margin: 0.8rem auto;
    border-radius: 0.6rem;
    overflow:auto;
    color: white;
    
}
.table::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.table::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.table:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
table{
    width: 100%;
} 


tbody tr:nth-child(even){
    background-color: #0000000b;
   
}
tbody tr:hover{
    background-color: #fff6;
    transition: 0.2s ease;
    cursor: pointer;
}


td .button{
    width: 100px;
    border-radius: 8px;
    padding: 10px 0px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
}
.muted-button1{
    background:transparent;
    border: solid green 2px;
    color:white;
    font-weight: 400;
}
.muted-button1:hover{
    background-color: var(--green);
    cursor: pointer;
  
}


.muted-button2{
    background:transparent;
    border: solid red 2px;
    color:white;
    font-weight: 400;
}
.muted-button2:hover{
    background-color: var(--red);
    cursor: pointer;
   
}


@media all and (max-width:423px){
    .table{
        width:350px;
        height:70vh;
        margin-left: 20px;
    }
}

@media all and (max-width:414px){
    .table{
        width:380px;
        margin-left: 10px;
    }
    .container{
        height: fit-content;
    }
}

@media all and (max-width:391px){
    .table{
        width: 350px;
    }
    .container{
        height: fit-content;
    }
}

@media all and (max-width:376px){
    .table{
        width: 350px;
        margin-left: 10px;
    }
    
}

@media all and (max-width:361px){
    .table{
        width: 330px;
    }
}

@media all and (max-width:281px){

    
    .table{
        width: 250px;
    }
    .table th{
        font-size: 0.8rem;
    }
    .table td{
        font-size: 0.5rem;
    }

    td .button{
        width: 50px;
        border-radius: 8px;
        padding: 5px 5px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .muted-button1{
        font-size: 0.5rem;
    }
    .muted-button2{
        font-size: 0.5rem;
    }

    .subheading{
        font-size: 1rem;
        margin-left: -9rem;
    }

}

@media all and (max-width:241px){
    /* This is the css property for nav bar */
    #navbar{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -350px;
        left: 0;
        transition: 0.9s ease;
        align-items: center;
        justify-content:center;
        height: 100vh;
        width: 100vw;
        padding-top: 5px;
        background-color:rgba(0, 0, 139, 0.694);
        border: none;

        
    }
    #navbar.active{
        top: 60px;
     
   } 
    /* ends here  */

    /* this is css property for logo  */
    #logo{
        font-size: 0.8rem;
    }
    #logo span{
        font-size: 0.8rem;
    }
    /* ends here */

    /* This is css property for Main page(app.js)  */
    .maintext{
        font-size: 0.5rem;
    } 
    .btn{
        width: 80px;
        padding:5px;
    }

    /* ends here */
    .table{
        width: 220px;
    }

    /* this is css property for crud page */
    .subheading{
        font-size: 1rem;
        margin-left: -11rem;
    }
    /* ends here  */


    /* footer css property from footer */
    .queries{
        margin-left: 15px;
    }
    /* ends here  */

}








