/* :root{
    --orange:#F99417;
    --white:#F5F5F5;
    --green:green;
    --red:red;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;

}

.form{
    width: 90%;
}

 .label{
    display: block;
    justify-content: center;
    padding: 5px 0;
    color: var(--orange);
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 10px;
} 
.emailinput{
    padding: 5px;
    width: 70%;
}
.reviewinput{
    padding: 5px;
    width: 70%;
    resize: none;
    display: block;
}
.reviewbtn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    color: white;
    padding: 5px 10px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
}
.cancelbtn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    color: white;
    padding: 5px 10px;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

@media all and (max-width:281px){
    .label{
        font-size: 0.8rem;
    }
    .emailinput{
        width: 60%;

    }
    .reviewinput{
        width: 60%;
    }
    .reviewbtn{
        width: 100px;
        height: 30px;
        padding:3px 3px;
        font-size: 0.8rem;
    }
}
@media all and (max-width:241px){
    .label{
        font-size: 0.8rem;
    }
    .emailinput{
        width: 50%;

    }
    .reviewinput{
        width: 50%;
    }
    .reviewbtn{
        width: 80px;
        height: 30px;
        font-size: 0.6rem;
    }

    .heading{
        font-size: 1rem;
    }
} */
